button {
    appearance: none;
      background-color: #FFFFFF;
      border-radius: 40em;
      border-style: none;
      box-shadow: #ADCFFF 0 -12px 6px inset;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: -.24px;
      margin: 0;
      outline: none;
      padding: 1rem 1.3rem;
      quotes: auto;
      text-align: center;
      text-decoration: none;
      transition: all .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
        position: absolute; /* removes the button from the normal document flow */
        top: 50%; /* positions the button 50% from the top of its parent element */
        left: 40%; /* positions the button 50% from the left of its parent element */
    }
    
    button:hover {
      background-color: #FFC229;
      box-shadow: #FF6314 0 -6px 8px inset;
      transform: scale(1.125);
    }
    
    button:active {
      transform: scale(1.025);
    }
    
    @media (min-width: 768px) {
      button {
        font-size: 1.5rem;
        padding: .75rem 2rem;
      }
    
}

body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }

}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  background-color: #131417;  
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

h1 {
    position: absolute;
    left: 170px;
    top: 150px;
    background-color: #23d5ab;
    color: #e5e5e5;
    box-shadow: #24dca2 0 -12px 6px inset;
}